.banner {
    width: 100%;
    height: 100vh;
    /* 60% de la altura de la pantalla. Ajusta si lo necesitas. */
    background-color: #333;
    position: relative;
    /* Color mientras carga */
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Esto es clave para que la imagen llene el espacio */
}